

<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="../../../assets/1.jpg" alt="" srcset="">
    </div>
    <div class="col-sm">
      <div class="centered-text">GOVERNMENT OF KARNATAKA</div>
      <div class="centered-text">MANDYA INSTITUTE OF MEDICAL SCIENCESA</div>
      <div class="centered-text">MIMS, MANDYA</div>
      <div class="centered-text">AYUSHMAN BHARATH PROCEDURE FINAL BILL</div>
      <div class="centered-text">Phone : 080-26701150</div>
      <div class="centered-text">Final bill(AB-ARK scheme)</div>


    </div>
    <div class="col-sm">
      <img src="../../../assets/2.jpg" alt="" srcset="">

    </div>
  </div>
  <div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><b>1.1</b></td>
          <td><b>PATIENT NAME</b></td>
          <td>Harshith</td>
          <td><b>Bill Date</b></td>
          <td>jkdhkjdh</td>
        </tr>

        <tr>
          <td><b>2</b></td>
          <td><b> REF No</b></td>
          <td>0989-287-76287</td>
          <td><b>Bill No</b></td>
          <td>BMDSBDJHGJ-SA-DSHJK</td>
        </tr>

        <tr>
          <td><b>3</b></td>
          <td><b>DATE OF ADMISSION</b></td>
          <td>Harshith</td>
          <td><b>IP No</b></td>
          <td>jkdhkjdh</td>
        </tr>

        <tr>
          <td><b>4</b></td>
          <td><b>DATE OF SURGERY</b></td>
          <td colspan="3">Harshith</td>
        </tr>

        <tr>
          <td><b>5</b></td>
          <td><b>DATE OF DISCHARGE</b></td>
          <td colspan="3">Harshith</td>
        </tr>

        <tr>
          <td><b>6</b></td>
          <td><b>ADDRESS</b></td>
          <td colspan="3">Harshith</td>
        </tr>

        <tr>
          <td><b>7</b></td>
          <td><b>BPL CARD NO</b></td>
          <td colspan="3">Harshith</td>
        </tr>

        <tr>
          <td><b>8</b></td>
          <td><b>AGE/GENDER</b></td>
          <td colspan="3">Harshith</td>
        </tr>

        <tr>
          <td><b>9</b></td>
          <td><b>DEPARTMENT</b></td>
          <td colspan="3">Harshith</td>
        </tr>



        <tr>
          <td><b>10</b></td>
          <td><b>DOCTOR NAME</b></td>
          <td colspan="3">Harshith</td>
        </tr>

        <tr>
          <td><b>11</b></td>
          <td><b>PACKAGE CODE</b></td>
          <td colspan="3">Harshith</td>
        </tr>

        <tr>
          <td><b>12</b></td>
          <td><b>PROCEDURE NAME</b></td>
          <td colspan="3">Harshith</td>
        </tr>
        <tr>
          <td><b>13</b></td>
          <td><b>TOTAL COST OF PACKAGE <br> APPROVED AMOUNT</b></td>
          <td colspan="3">Harshith</td>
        </tr>

        <tr>
          <td><b>14</b></td>
          <td><b>TOTAL CLAIM AMOUNT </b></td>
          <td colspan="3">Harshith</td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td colspan="3"></td>
        </tr>


      </tbody>
    </table>
  </div>
</div>
